<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_prof_domain_model_profession.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="level">
	<f:translate key="tx_prof_domain_model_profession.level" />
</label><br />
	<f:form.textfield property="level" /><br />
<label for="image">
	<f:translate key="tx_prof_domain_model_profession.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>